<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227015986946-d4rb5td0emkre9bqbvjr6vk9m98hso8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227015986946-d4rb5td0emkre9bqbvjr6vk9m98hso8q</string>
	<key>API_KEY</key>
	<string>AIzaSyAMa5T2putcyLoIS48ZsqR3FDn6eVdJt-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>227015986946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zedStores</string>
	<key>PROJECT_ID</key>
	<string>zed-stores</string>
	<key>STORAGE_BUCKET</key>
	<string>zed-stores.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227015986946:ios:ed78e8bea54646c8be3c1b</string>
</dict>
</plist>